@import '../media.scss';
@import '../variable.scss';

@import '../modules/header.scss';

.wrapper{
    max-width: $max-width;
    margin: 0 auto;

    @include laptopL{
        padding: 0px 16px;
    }
}

.border{
    border: 1px solid color-white();
    border-radius: 6px;
    box-shadow: 0px 0px 6px color-white();
}

.block{
    margin: 16px 0;
    padding: 16px;

    &__title{
        font-size: $font-size-medium;
        text-align: center;
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid color-white();
    }

    &__double{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;

        &-content{
            width: 100%;
        }

        &-img{
            width: 100%;
        }
    }
}