.slider{
    max-width: 100%;
    width: 100%;
    position: relative;

    &__line{
        width: auto;
        height: auto;
        display: flex;
        width: fit-content;
        
        &-wrap{
            width: 100%;
            overflow: hidden;
        }

        &--transition{
            transition: all 1s ease;
        }
        
        &--dragable{
            cursor: grab;
        }
    }

    &__btn:hover{
        cursor: pointer;
    }
}

.slider-line--transition, .scroll-thumb--transition{
    transition: all 1s ease;
}
