.card-skills {
    z-index: 3;
    left: 50%;
    transform: translate(-50%, 0);
    
    @include phone{
        left: 0px;
        transform: translate(0, 0);
    }

    &__content{
        width: 100%;

        &-quote{
            position: absolute;
            top: 36px;
            left: 36px;

            width: 400px;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;

            @include phone {
                max-width: 70%;
                top: 25%;
                left: 50%;

                font-size: 16px;
                text-align: center;

                transform: translate(-50%);
            }

            &-author{
                margin-top: 16px;
                font-style: oblique;
                display: block;
            }
        }

        &-sun{
            position: absolute;
            top: 36px;
            right: 36px;

            @include phone {
                top: 16px;
                right: 16px;
            }
        }
    }

    &__background{
        &-sea{
            position: relative;
            top: 0;
        }
    }
    
}