@import 'media.scss';
@import 'variable.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    color: color-white();
    cursor: none;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
    width: 0px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
    background: color-white();
    height: 100px;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
    background-color: color-black();
    border-radius: 5px;
    border: 1px solid color-white();
}

body{
    width: 100vw;
    background-color: color-black();
    overflow-x: hidden;
}

img{
    pointer-events: none;
}

#custom-cursor{
    position: absolute;

    width: 15px;
    height: 15px;

    background-color: color-white();
    box-shadow: 0px 0px 6px color-white();
    border-radius: 50%;

    pointer-events: none;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);

    z-index: 100;

    @include phone{
        display: none;
    }
}