.modal-project{
    &-content{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 24px;

        padding-right: 20px;
    }

    &__slider{
        max-width: 100%;
        max-height: 100%;
    }

    a{
        text-decoration: none;
        text-decoration: none;
        border-bottom: 1px solid color-black();

        transition: .4s ease;

        &:hover{
            border-bottom: 1px solid color-white();
        }
    }

    &__header{
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;

        gap: 4px;

        &-logo{
            display: flex;
            align-items: center;
            width: fit-content;

            &-icon{
                margin: 5px 8px 0 0;
                fill: color-white();
                height: 35px;
                width: 35px;
            }

            &-title{
                text-decoration: none;
                text-transform: capitalize;
                font-size: 31.25px;
                transition: .4s ease;
                padding-bottom: 5px;
            }
        }
    }

    &__date{
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        &-point{
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        &-bracket{
            height: 50px;
            width: 20px;
            margin: 0px 16px;
        }

        &-sum{
            @include tablet{
                max-width: 100px;
            }
        }
    }

    &__list{
        margin-bottom: 16px;
        
        &-title{
            margin-bottom: 4px;
        }

        &-item{
            list-style: none;
            line-height: 150%;
        }
    }

    &__scrollbar{
        position: absolute;
        height: 70%;
        // height: 100%;
        width: 14px;

        right: 10px;
        top: 50%;
        translate: 0 -50%;

        background-color: color-black();
        border: 1px solid rgba(255, 255, 255, 0);
        border-radius: 6px;
        transition: .4s ease;

        overflow: hidden;

        &:hover{
            border: 1px solid color-white();
        }

        &-thumb{
            position: absolute;

            width: 100%;
            background-color: color-white();
            border-radius: 6px;
        }
    }
}