.modal-skill{
    &__content{
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include phone {
            gap: 36px;
            flex-direction: column;
            align-items: center;
        }

    }
    
    &__lists{
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include phone {
            width: 100%;
        }

        &-list{
            &-item{
                position: relative;
                margin-left: 20px;
                list-style: none;

                a{
                    font-size: 16px;
                    text-decoration: none;
                    border-bottom: 1px solid rgb(0, 0, 0);

                    transition: .4s ease;

                    &:hover{
                        border-bottom: 1px solid white;
                    }
                }

                &::before{
                    content: '.';
                    font-size: 26px;

                    position: absolute;
                    left: -20px;
                    top: -6px;

                }

            }

            &:nth-child(1){
                margin-bottom: 20px;
            }

        }

    }

    &__info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include phone {
            width: fit-content;
            gap: 16px;
            flex-direction: row;
        }

        &-img{
            width: 121px;
            height: 121px;
            pointer-events: none;
        }

        &-text{
            text-align: center;

            @include phone {
                text-align: left;
            }

        }

    }

    &__example{
        width: fit-content;
        text-decoration: none;
        border: 1px solid #fff;
        border-radius: 6px;
        padding: 8px 16px;

        transition: .4s ease;

        &:hover{
            background-color: #fff;
            color: #000;
        }

    }
}