.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .4s ease;
    
    overflow: hidden;
    z-index: 10;

    width: calc(100% + 2px);
    height: calc(100% + 2px);

    background-color: color-black();
    border: 1px solid color-white();
    border-radius: 6px;

    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include phone {
        top: calc(50% - 1px);
        left: calc(50% - 1px);

        width: calc(100% + 4px);
        height: calc(100% + 4px);
    }

    &--show{
        transform: translate(-50%, -50%) scale(1);
    }

    *{
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }

    &__close{
        position: absolute;
        top: -1px;
        right: -1px;

        height: 35px;
        width: 35px;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid color-white();
        box-shadow: 0px 0px 6px color-white();
        border-radius: 0px 0px 0px 6px;

        transition: .4s ease;

        @include phone {
            box-shadow: none;
            height: 50px;
            width: 50px;
        }

        &:hover{
            background-color: color-white();
            .modal__close-icon{
                fill: color-black();
            }
        }

        &-icon{
            height: 12px;
            width: 12px;
            fill: color-white();
            transition: .4s ease;

            @include phone {
                height: 16px;
                width: 16px;
            }

        }

    }

}